@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;700&display=swap');


/* ===================
      Global Styles 
   =================== */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Source Code Pro', monospace;
}


aside h1, h3{
    color: white;
    padding-left: 20px;
    
}

aside h1{
    padding-left: 10px;
}

aside li{
    padding: 10px;

    display: grid;
    grid-template-columns: 20px auto;
}

.material-symbols-outlined {
    color: white;

    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}


/* ===================
    Custom Properties 
   =================== */

:root{
    --header-background-color: red;
    --header-height: 120px;
    
    --sidebar-background-color: blue;
    --sidebar-width: 260px;
    
    --logo-icon-dimension: 50px;    /* Logo-icons width AND height */
    
    --main-left-background-color: green;
    --main-left-width: 3fr;
    --main-right-background-color: yellow;
    --main-right-width: 1fr;
}


/* ===================
         Layout 
   =================== */

.container{
    display: grid;
    grid-template-columns: var(--sidebar-width) auto;
    grid-template-rows: var(--header-height) auto;
}


/* ===================
          Header    */

header{
    background-color: var(--header-background-color);
    
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
}

    /*  Header Top  */

.header-top{
    grid-area: 1 / 1 / 1 / 3;

}

    /* Header Bottom    */

.header-bottom{
    grid-area: 2 / 1 / 2 / 3;

}


/* ===================
        Sidebar     */

aside{
    background-color: var(--sidebar-background-color);

    grid-area: 1 / 1 / 3 / 2;
}

.sidebar-logo-container{
    margin: 10px;

    display: grid;
    grid-template-columns: var(--logo-icon-dimension) auto;
}

.logo-icon{
    width: var(--logo-icon-dimension);
    height: var(--logo-icon-dimension);

    display: flex;
    justify-content: center;
    align-items: center;

}

#logo-icon-large{
    font-size:48px;
}

.logo-text{
    display: flex;
    justify-content: start;
    align-items: center;
    
}

.sidebar-nav-top{
    margin: 50px 0 50px 20px;
    
}

.sidebar-nav-bottom{
    margin: 0 0 0 20px;

}


/* ===================
          Main      */

main{
    background-color: var(--main-background-color);
    
    display: grid;
    grid-template-columns: var(--main-left-width) var(--main-right-width);
}

    /*  Main Left   */

.main-left{
    background-color: var(--main-left-background-color);

}

    /*  Main Right  */

.main-right{
    background-color: var(--main-right-background-color);

}