*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

}

/* ===================
    Custom Properties */

:root{
    --header-background-color: red;
    --header-height: 140px;
    
    --sidebar-background-color: blue;
    --sidebar-width: 260px;
    
    --main-left-background-color: green;
    --main-left-width: 3fr;
    --main-right-background-color: yellow;
    --main-right-width: 1fr;
}

.container{
    display: grid;
    grid-template-columns: var(--sidebar-width) auto;
    grid-template-rows: var(--header-height) auto;
}


/* ===================
          Header
   =================== */

header{
    background-color: var(--header-background-color);
    
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
}

.header-top{
    grid-area: 1 / 1 / 1 / 3;

    border: solid 1px black;
}

.header-bottom{
    grid-area: 2 / 1 / 2 / 3;

    border: solid 1px black;

}


/* ===================
        Sidebar
   =================== */

aside{
    background-color: var(--sidebar-background-color);

    grid-area: 1 / 1 / 3 / 1;
}

.sidebar-logo-container{
    border: solid 1px black;

}

.sidebar-nav-top{
    border: solid 1px black;

}

.sidebar-nav-bottom{
    border: solid 1px black;

}
/* ===================
          Main
   =================== */

main{
    background-color: var(--main-background-color);
    
    display: grid;
    grid-template-columns: var(--main-left-width) var(--main-right-width);
}

/* ===================
        Main Left   */

.main-left{
    background-color: var(--main-left-background-color);
    border: solid 1px black;

}

/* ===================
        Main Right  */

.main-right{
    background-color: var(--main-right-background-color);
    border: solid 1px black;

}